h1.title{
  font-size: 28px;
  font-weight: bold;
  color: #00727c; 
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #00727c;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #7A7574;
}

tocify > ul {
    color: red;
    background-color: #00727C;
    border-color: #00727C;
}

body > p {
    font-size: 15px;
    line-height: 1.42857143;
    color: #221f20;
}

div.main-container {
  max-width: 1600px !important;
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 10px 20px 10px;
  background-image: url("html/logo200.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}